@import './mixins';
.home {
    h2 {
        font-size: 40px;
        margin-top: 100px;
        text-align: center;
        color: $color2;
    }
    h3 {
        font-size: 25px;
        font-weight: 200;
    }
    p {
        font-family: none;
        font-size: 15px;
        font-weight: 700;
        width: 75%;
        margin: 30px auto;
    }
    .title_line {
        width: 300px;
        height: 2px;
        margin: 10px auto 150px;
        background-color: $color1;
    }
    .home_header {
        background-color: $color2;
        display: flex;
        .home_header_img {
            width: 50%;
            text-align: right;
            position: relative;
            img {
                height: 450px;
            }
        }
        .home_header_title {
            width: 50%;
            margin: 0 auto;
            font-size: 25px;
            color: $color4;
            display: flex;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 250px;
            span {
                color: $color1;
            }
        }
    }
    .home_specialisations {
        background: url(/src/assets/images/background_specialisations.png) center/cover;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: $color2;
        h3 {
            height: 60px;
            color: $color1;
        }
        p {
            font-size: 18px;
            text-align: justify;
            color: $color2;
        }
        .specialations_list {
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .specialisations_list_content {
                width: 40%;
                padding: 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                .img {
                    width: 50%;
                    margin: 0 auto;
                    height: 150px;
                    img {
                        max-height: 150px;
                    }
                }
            }
        }
    }
}





.home {
    .home_services {
        h2 {
            color: $color4;
            margin: 0;
            padding: 0;
        }
        display: flex;
        justify-content: flex-end;
        .home_services_content {
            @include flex_center;
            background: $color2;
            color: $color4;
            border-radius: 50px 0 0 50px;
            .home_services_title {
                display: flex;
                flex-direction: column;
                h2 {
                    font-size: 35px;
                }
                p {
                    width: 50%;
                }
            }
            .home_services_list {
                width: 50%;
                .list_content {
                    background: $color1;
                    border-radius: 50px 0 0 50px;
                    p {
                        font-size: 25px;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

.home {
    .home_engagements {
        img {
            max-height: 300px;
            border-radius: 50px 0 50px 0;
        }
        .home_engagements_list {
            width: 70%;
            margin: 0 auto;
            @include flex_center;
            justify-content: space-around;
            text-align: center;
        }
    }
}

.home_devis {
    margin: 0 auto;
    .btn_devis {
        width: 15%;
        margin: 0 auto;
        button {
            padding: 20px;
            font-size: 20px;
            background-color: $color1;
            border: none;
            border-radius: 8px;
            margin: 100px auto;
            a {
                color: $color4;
                text-decoration: none;
                transition: 0.2s;
            }
        }
        button:hover {
            background-color: $color2;
            a {
                color: $color1;
            }
            
        }
    }
    
}

@media (max-width:600px) {
    .home {
        display: flex;
        flex-direction: column;
        width: 100vw;
        .home_sections {
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }
        .home_header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            background-color: transparent;
            margin-top: 50px;
            .home_header_img {
                display: none;
            }
            .home_header_title {
                width: 100%;
                color:$color2;
                position:relative;
                top: 0;
                left: 0;
                font-size: 20px;
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
        .home_specialisations {
            h2 {
                width: 100%;

            }
            .specialations_list {
                width: 100%;
                .specialisations_list_content {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .home_services {
            padding: 0;
            flex-direction: column;
            .home_services_content {
                width: 100%;
                flex-direction: column;
                padding: 0;
                border-radius: 0;
                .home_services_title {
                    width: 100%;
                    margin-top: 50px;
                    margin:50px 0 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2 {
                        font-size: 25px;
                        text-align: center;
                        padding: 0;
                        margin: 50px auto;
                        width: 100%;
                    }
                    #service_text {
                        width: 75%;
                        font-size: large;
                        padding: 0;margin: 0;
                    }
                }
                .home_services_list {
                    width: 100%;
                    .list_content {
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
        .home_engagements {
            .home_engagements_list 
        {
            flex-direction: column;
            p {
                font-size: 25px;
                width: 100%;
                text-align: justify;
            }
        }
        .engagement_cout {
            flex-direction: column-reverse;
            h3 {
                margin-top: 30px;
            }
        }
        }
        .home_devis
        {
            .btn_devis {
                width: 100%;
                @include flex_center;
            }
        }
    }
}