@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap");
#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #233142;
}
#navigation img {
  height: 150px;
}
#navigation ul {
  display: flex;
}
#navigation ul a {
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  color: white;
  transition: 0.3s;
}
#navigation ul a:hover {
  color: #f95959;
}
#navigation button {
  padding: 20px;
  font-size: 20px;
  background-color: #f95959;
  border: none;
  border-radius: 8px;
}
#navigation button a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
#navigation button:hover {
  background-color: #233142;
}
#navigation button:hover a {
  color: #f95959;
}
#navigation .nav_narrow {
  opacity: 1;
  display: none;
}

#footer {
  background-color: #233142;
  color: #f95959;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
#footer img {
  height: 100px;
}
#footer .contact_content {
  width: 15%;
  text-align: center;
  margin: 30px 0;
}
#footer .contact_content ul li {
  margin: 15px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
#footer .contact_content ul li:hover {
  color: white;
}
#footer .contact_content ul a {
  text-decoration: none;
  color: #f95959;
  transition: 0.3s;
}
#footer .contact_content ul a:hover {
  color: white;
}
#footer .contact_content ul li i {
  margin: 20px;
  font-size: 30px;
}
#footer .contact_content button {
  color: #f95959;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  border-radius: 8px;
  transition: 0.3s;
}
#footer .contact_content button:hover {
  background-color: #f95959;
  color: white;
}
#footer .contact_logo p {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }
  body #navigation {
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: auto;
  }
  body #navigation #logo img {
    height: 100px;
    margin: 0;
    padding: 0;
  }
  body #navigation .navigation_links {
    margin: 20px;
  }
  body #navigation .navigation_links ul {
    flex-direction: row;
  }
  body #navigation button {
    display: none;
  }
  body #footer {
    flex-direction: column;
  }
  body #footer .contact_content {
    width: 100%;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h2 {
  margin: 80px 0 130px;
}
.contact #contact_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 20px;
}
.contact #contact_content #contact_infos {
  color: black;
  font-weight: 700;
}
.contact #contact_content #contact_infos li {
  margin: 20px 0;
}
.contact #contact_content #contact_form {
  width: 33%;
}
.contact #contact_content form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact #contact_content form input, .contact #contact_content form textarea {
  border-radius: 8px;
  border: 1px solid #f95959;
  padding: 10px;
}
.contact #contact_content form label {
  margin: 20px 0 5px;
}
.contact #contact_content form #btn_submit {
  font-size: 15px;
  margin-top: 30px;
  cursor: pointer;
  background: transparent;
  transition: 0.3s;
}
.contact #contact_content form #btn_submit:hover {
  background: #f95959;
  color: white;
}

@media (max-width: 600px) {
  .contact h2 {
    margin: 50px 0;
    padding: 0;
  }
  .contact #contact_content {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .contact #contact_content img {
    height: 300px;
    padding: 0;
    margin: 0;
  }
  .contact #contact_content #contact_form {
    width: 70%;
    margin-bottom: 30px;
  }
}
.services .services_page_content {
  display: flex;
  flex-direction: column;
}
.services .services_page_content h2 {
  color: tomato;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin-top: 140px;
}
.services .services_page_content img {
  max-height: 300px;
  color: #f95959;
  transition: 1s;
  margin: 20px;
}
.services .services_page_content img:hover {
  scale: 1.1;
}
.services .services_page_content .services_icons {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 100px auto 50px;
}
.services .services_page_content .services_icons .services_icons_content {
  width: 500px;
  margin: 0 auto 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services .services_page_content .services_icons .services_icons_content h3 {
  margin: 30px;
}

@media (max-width: 600px) {
  .services img {
    max-width: 200px;
  }
}
.home h2 {
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
  color: #233142;
}
.home h3 {
  font-size: 25px;
  font-weight: 200;
}
.home p {
  font-family: none;
  font-size: 15px;
  font-weight: 700;
  width: 75%;
  margin: 30px auto;
}
.home .title_line {
  width: 300px;
  height: 2px;
  margin: 10px auto 150px;
  background-color: #f95959;
}
.home .home_header {
  background-color: #233142;
  display: flex;
}
.home .home_header .home_header_img {
  width: 50%;
  text-align: right;
  position: relative;
}
.home .home_header .home_header_img img {
  height: 450px;
}
.home .home_header .home_header_title {
  width: 50%;
  margin: 0 auto;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 250px;
}
.home .home_header .home_header_title span {
  color: #f95959;
}
.home .home_specialisations {
  background: url(/src/assets/images/background_specialisations.png) center/cover;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #233142;
}
.home .home_specialisations h3 {
  height: 60px;
  color: #f95959;
}
.home .home_specialisations p {
  font-size: 18px;
  text-align: justify;
  color: #233142;
}
.home .home_specialisations .specialations_list {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home .home_specialisations .specialations_list .specialisations_list_content {
  width: 40%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.home .home_specialisations .specialations_list .specialisations_list_content .img {
  width: 50%;
  margin: 0 auto;
  height: 150px;
}
.home .home_specialisations .specialations_list .specialisations_list_content .img img {
  max-height: 150px;
}

.home .home_services {
  display: flex;
  justify-content: flex-end;
}
.home .home_services h2 {
  color: white;
  margin: 0;
  padding: 0;
}
.home .home_services .home_services_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #233142;
  color: white;
  border-radius: 50px 0 0 50px;
}
.home .home_services .home_services_content .home_services_title {
  display: flex;
  flex-direction: column;
}
.home .home_services .home_services_content .home_services_title h2 {
  font-size: 35px;
}
.home .home_services .home_services_content .home_services_title p {
  width: 50%;
}
.home .home_services .home_services_content .home_services_list {
  width: 50%;
}
.home .home_services .home_services_content .home_services_list .list_content {
  background: #f95959;
  border-radius: 50px 0 0 50px;
}
.home .home_services .home_services_content .home_services_list .list_content p {
  font-size: 25px;
  padding: 10px;
}

.home .home_engagements img {
  max-height: 300px;
  border-radius: 50px 0 50px 0;
}
.home .home_engagements .home_engagements_list {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.home_devis {
  margin: 0 auto;
}
.home_devis .btn_devis {
  width: 15%;
  margin: 0 auto;
}
.home_devis .btn_devis button {
  padding: 20px;
  font-size: 20px;
  background-color: #f95959;
  border: none;
  border-radius: 8px;
  margin: 100px auto;
}
.home_devis .btn_devis button a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
.home_devis .btn_devis button:hover {
  background-color: #233142;
}
.home_devis .btn_devis button:hover a {
  color: #f95959;
}

@media (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .home .home_sections {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .home .home_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background-color: transparent;
    margin-top: 50px;
  }
  .home .home_header .home_header_img {
    display: none;
  }
  .home .home_header .home_header_title {
    width: 100%;
    color: #233142;
    position: relative;
    top: 0;
    left: 0;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .home .home_specialisations h2 {
    width: 100%;
  }
  .home .home_specialisations .specialations_list {
    width: 100%;
  }
  .home .home_specialisations .specialations_list .specialisations_list_content {
    width: 100%;
    height: auto;
  }
  .home .home_services {
    padding: 0;
    flex-direction: column;
  }
  .home .home_services .home_services_content {
    width: 100%;
    flex-direction: column;
    padding: 0;
    border-radius: 0;
  }
  .home .home_services .home_services_content .home_services_title {
    width: 100%;
    margin-top: 50px;
    margin: 50px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home .home_services .home_services_content .home_services_title h2 {
    font-size: 25px;
    text-align: center;
    padding: 0;
    margin: 50px auto;
    width: 100%;
  }
  .home .home_services .home_services_content .home_services_title #service_text {
    width: 75%;
    font-size: large;
    padding: 0;
    margin: 0;
  }
  .home .home_services .home_services_content .home_services_list {
    width: 100%;
  }
  .home .home_services .home_services_content .home_services_list .list_content {
    width: 100%;
    border-radius: 0;
  }
  .home .home_engagements .home_engagements_list {
    flex-direction: column;
  }
  .home .home_engagements .home_engagements_list p {
    font-size: 25px;
    width: 100%;
    text-align: justify;
  }
  .home .home_engagements .engagement_cout {
    flex-direction: column-reverse;
  }
  .home .home_engagements .engagement_cout h3 {
    margin-top: 30px;
  }
  .home .home_devis .btn_devis {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Russo One", sans-serif;
}

#navigation {
  height: 20vh;
}

@media (max-width) {
  * {
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=index.css.map */